# Banco Digital Backend - Variables locales / Docker Compose
DB_URL=jdbc:postgresql://postgres:5432/banco2026
DB_USER=postgres
DB_PASS=postgres
DDL_AUTO=update
PORT=8080
JWT_SECRET=BancoDigital2026ClaveSecretaSuperSeguraParaFirmarTokensJWTHS256
SHOW_SQL=false
HTTPS_SEGURO=false
CORS_ORIGENES=http://localhost:3000,http://localhost:5173,http://localhost:8080
